<form class="example-form">
    <mat-form-field class="example-full" appearance="fill">
      <mat-label>Nombre Cantante</mat-label>
      <input type="text"
             placeholder="Seleccione uno"
             aria-label="Nombre Cantante"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto"
             (keyup)="search()"
             #txtSearch
             >
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name" (click)="searchSounds()" #txtSearch2>
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

