.example-form {
    min-width: 150px;
    max-width: 600px;
    width: 100%;
  }
  
  .example-full {
    width: 100%;
  }

  .mat-form-field-infix {
    width: 500px !important;
  }

  .example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}