<div  *ngIf="artist != undefined">
    <mat-card class="example-card dashboard-card">
      <mat-card-header>
        <mat-card-title>{{ artist.name}}</mat-card-title>
        <mat-card-subtitle><a [href]="artist.url" target="_blank">Spotify</a></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="artist.image"  alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
            Texto para destacar la información de los artistas.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <mat-chip-list aria-label="Fish selection">
          <mat-chip *ngFor="let item of artist.genres"> {{ item }}</mat-chip>
        </mat-chip-list>
        <mat-list role="list">
          <mat-list-item role="listitem">Seguidores: {{ artist.followers.total | number}}</mat-list-item>
        </mat-list>
      </mat-card-actions>
    </mat-card>
  </div>
