<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
        [colspan]="4"
        [rowspan]="1"
        >
        <app-search class="search"></app-search>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="2"
        [rowspan]="7"
        >
        <app-result class="search"></app-result>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="2"
        [rowspan]="8"
        >
        <app-information ></app-information>
    </mat-grid-tile>
  </mat-grid-list>