.demo-table {
    width: 100%;
  }
  
  .mat-column-demo-position {
    width: 1000px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }
  
  .mat-column-demo-name {
    padding-left: 16px;
    font-size: 20px;
  }
  
  .mat-column-demo-weight {
    font-style: italic;
  }
  
  .mat-column-demo-symbol {
    width: 100px;
    text-align: center;
    font-weight: bold;
  }

  .sizeTable {
      width: 400px !important;
  }