<table mat-table [dataSource]="tracks" class="mat-elevation-z8 sizeTable" *ngIf="tracks!=undefined">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre de las canciones </th>
    <td mat-cell *matCellDef="let tracks"> {{tracks.name}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>